<template>
  <svg
    id="Layer_1"
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 275.71 397.82"
  >
    <text class="cls-1" transform="translate(0 321.35) scale(0.76 1)">៥</text>
    <path
      d="M248.16,65v5.29q0,13.23-9.26,13.23a14.47,14.47,0,0,1-11.25-5q-4.43-5-9.26-5v9.93h-3.3V63.74h3.3v6.62q5.79,0,10.57,5t9.94,5q6,0,5.95-9.92V67q-29.76-6-29.76-19.84Q215.09,34,231.62,34t16.54,13.23q0,9.23-6.88,9.22a5.57,5.57,0,0,1-3.38-1V52.1a14.28,14.28,0,0,0,3.84.69c2.07,0,3.1-1.88,3.11-5.65q0-9.93-13.23-9.92t-13.23,9.92Q218.39,58.78,248.16,65Z"
      transform="translate(-42 -5.87)"
    />
    <path
      d="M248.16,34h6.61Q268,34,268,47.21V83.59h-3.31V47.21q0-9.93-9.92-9.92h-6.61Z"
      transform="translate(-42 -5.87)"
    />
    <path
      d="M313,67v3.34q0,13.23-11.91,13.23t-11.9-13.23V63.75h3.3v6.62q0,9.91,8.6,9.92t8.6-9.92V66.23q-25.14-6.57-25.13-19Q284.56,34,301.09,34t16.54,13.23q0,9.23-6.88,9.22a5.55,5.55,0,0,1-3.37-1V52.14a14.28,14.28,0,0,0,3.83.69c2.07,0,3.1-1.88,3.11-5.65q0-9.93-13.23-9.92t-13.23,9.92q0,10.22,21.83,16v-.83q0-4,4-4c2.64,0,4,1.38,4,4.14a4.58,4.58,0,0,1-1.13,3.5,3.52,3.52,0,0,1-2.41,1A6.32,6.32,0,0,1,313,67Zm0-3a3.23,3.23,0,0,0,.69.07c.86,0,1.29-.45,1.29-1.36s-.33-1.32-1-1.32-1,.43-1,1.29Z"
      transform="translate(-42 -5.87)"
    />
    <path
      d="M314.3,16.35V5.87h3.31V24h-21.5q-8.26,0-8.27-6.62,0-8.26,11.58-8.26a18.69,18.69,0,0,1,12.4,5C312.77,15,313.59,15.69,314.3,16.35Zm-18.19,4.4H314.3q-8.24-8.26-14.88-8.27-8.26,0-8.27,5Q291.15,20.77,296.11,20.75Z"
      transform="translate(-42 -5.87)"
    />
  </svg>
</template>

<script>
export default {
  name: 'five'
}
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url(//db.onlinewebfonts.com/c/56f089d4a1aecfe1368a63828e078332?family=Khmer+UI);
.cls-1 {
  isolation: isolate;
  font-size: 324.93px;
  font-family: Khmer UI, sans-serif;
}
svg {
  height: 6rem;
}
</style>
